!!!
html(lang="en", ng-app="app")
  head
    meta(charset="utf-8")
    title Action Service Componnet
    link(rel="stylesheet", href="css/app.css")
    script(src="js/vendor.js")
    script(src="js/app.templates.js")
    script(src="js/app.js")
  body
    div(ng-view)
